.container {
    margin-top: 4em;
}

ul {
    list-style: none;
    padding-left: 1em;
}

label {
    width: 100%;
}

[property=breadcrumbs] {
    position: fixed;
    background-color: white;
    padding: 1em;
    margin-top: -4em;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

@media (max-width: 720px) {
    [property=breadcrumbs] {
        position: static;
    }
}

[property=breadcrumbs] li {
    display: inline;
}

[property=breadcrumbs] li:after {
    content: ' > ';
}

[property=breadcrumbs] li:last-child:after {
    content: '';
}

[property=properties] {
    overflow: hidden;
    max-height: 10em;
    position: relative;
    margin-bottom: .5em;
}

[property=properties]:after {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none;
}

[property=entity]:only-child [property=properties] {
    overflow: hidden;
    max-height: none;
}

[property=entity]:only-child [property=properties]:after {
    background: none;
}

[property=properties] h5:after {
    content: ':'
}

[property=properties] [property=name],
[property=properties] [property=value] {
    display: inline;
}

[property=properties] [property=value] .action {
    display: none;
}

[property=entity]:only-child [property=properties] [property=name],
[property=entity]:only-child [property=properties] [property=value] {
    display: block;
}

[property=entity]:only-child [property=properties] [property=value] .action {
    display: inline-block;
}

[property=entity] .panel {
    margin-bottom: 0;
}

.panel-heading {
    margin-top: 0;
}

h5 {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: .5em;
    margin-top: 1em;
}

a.action {
    color: #FFF;
    background-color: #3071A9;
    border-color: #285E8E;

    display: inline-block;
    border-radius: 2pt;
    padding: 2pt 4pt;
    margin: 2pt 0px;
}

.panel-heading h1,
.panel-heading [property=actions],
.panel-heading [property=actions] * {
    display: inline;
}